{
  "extends": "shopify",
  "parser": "babel-eslint",
  "plugins": [
    "shopify"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "ASTNode": true,
    "NodePath": true
  }
}
