<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Librarian</title>
  </head>
  <body>
    <h1>Library</h1>
    <pre><code><%= JSON.stringify(library.sass.variables, null, 2); %></code></pre>
  </body>
</html>
